@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Itim&family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Itim&family=Noto+Sans+Symbols:wght@100..900&family=Prata&display=swap');

.line {
    height: 1px;
    width: 290px;
    background-color: black;
    margin-top: 80px;
    padding-top: 0px;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
}

.section-one {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    font-family: "Prata", serif;
    font-size: 72px;
    text-align: center;
    margin-top: 30px;
}

.line-two {
    height: 0.5px;
    width: 10px;
    background-color: black;
    margin-top: 20px;
}

.section-two {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 10px;
    font-family: "Noto Sans Symbols", sans-serif;
    font-size: 20px;
    font-weight: 100;
    gap: 10px;
    text-align: center;
}

.header {
    margin-top: 30px;
    margin-bottom: 0px;
}

.section-two-text {
    margin: 0;
}

.image {
    width: 429px;
    height: 329px;
    background-image: url('images/senior-pic.jpg');
    background-size: contain;
    border-radius: 50px;
}

.image-sustainability {
    width: 429px;
    height: 329px;
    background-image: url('images/house.png');
    background-size: cover;
    border-radius: 50px;
}

.image-cafe-fraise {
    width: 429px;
    height: 329px;
    background-image: url('images/cafe-fraise.png');
    background-size: cover;
    border-radius: 50px;
}

.image-revitalize {
    width: 429px;
    height: 329px;
    background-image: url('images/soda.png');
    background-size: cover;
    background-position: center;
    border-radius: 50px;
}

.image-serenity {
    width: 429px;
    height: 329px;
    background-image: url('images/serenity-logo.png');
    background-size: cover;
    background-position: center;
    border-radius: 50px;
}

.section-three-text {
    font-family: "Noto Sans Symbols", sans-serif;
    font-size: 15px;
    font-weight: 200;
}

.text-div {
    width: 550px;
    gap: 23px;
}

.section-three {
    display: flex;
    flex-direction: row;
    gap: 60px;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 60px;
}

a {
    text-decoration-line: none;
    color: black;
}

.square {
    width: 420px;
    height: 420px;
    background-color: white;
    border-color: black;
    border-style: solid;
    border-width: 1.2px;
    border-radius: 25px;
}

.square:hover {
    background-color: black;
    transition-duration: 800ms;

}

.square-text:hover {
    color: white;
    transition-duration: 800ms;
}

.square-mod {
    margin-left: 25px;
}

.square-mod-two {
    margin-left: 35px;
}

.square-row {
    display: flex;
    flex-direction: row;
    gap: 170px;
    justify-content: center;
}

.squares {
    display: flex;
    flex-direction: column;
    gap: 65px;
    justify-content: center;
    margin-top: 85px;
    margin-bottom: 90px;
    margin-right: 100px;
}

.square-text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: black;

}

.header-one {
    margin-left: -320px;
    font-family: "Prata", serif;
    font-size: 46px;
    text-align: center;
}

.header-two {
    margin-left: -300px;
    font-family: "Prata", serif;
    font-size: 46px;
    text-align: center;
}

.header-three {
    margin-left: -320px;
    font-family: "Prata", serif;
    font-size: 46px;
    text-align: center;
}

.header-four {
    margin-left: -340px;
    font-family: "Prata", serif;
    font-size: 46px;
    text-align: center;
}

.contact-form {
    background-color: white;
    width: 950px;
    height: 670px;
    border-radius: 25px;
    margin-top: 90px;
    margin-bottom: 95px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding-bottom: 0px;
    border-style: solid;
    border-color: black;
    border-width: 0.5px;
}

.center-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.contact-text {
    font-family: "Prata", serif;
    font-size: 46px;
    margin-left: 20px;
    margin-bottom: 5px;
    margin-top: 10px;
    padding-left: 25px;
    padding-top: 25px;
    color: black;
    padding-bottom: 0px;
}

.rectangle-form {
    box-sizing: border-box;
    background-color: whitesmoke;
    width: 382px;
    height: 45px;
    border-style: solid;
    border-radius: 3px;
    border-color: black;
    border-width: 0.5px;
    font-family: "Noto Sans Symbols", sans-serif;
    font-weight: 100;
    font-size: 20px;
    padding: 12px;
}

.rectangle-form-two {
    box-sizing: border-box;
    background-color: whitesmoke;
    width: 848px;
    height: 260px;
    border-color: black;
    border-style: solid;
    border-radius: 2px;
    border-width: 0.5px;
    font-family: "Noto Sans Symbols", sans-serif;
    font-weight: 100;
    font-size: 20px;
    padding: 12px;
    margin-top: 5px;
}

.name-email-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 90px;
    margin-top: 0px;
    font-family: "Prata", serif;
    border-width: 0.5px;
    border-radius: 2px;
}

.center-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.button-text {
    background-color: white;
    color: black;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    font-family: "Noto Sans Symbols", sans-serif;
    text-align: center;
    font-weight: 100;
    width: 180px;
    height: 40px;
    border-radius: 10px;
    margin-top: 35px;
    font-size: 15px;
    padding-top: 5px;
    
}

.button-text:hover {
    background-color: black;
    transition-duration: 700ms;
    color: white;
}

.text {
    color: black;
    padding-top: 30px;
    margin-bottom: 10px;
}

.message {
    font-family: "Prata", serif;
}

.name {
    padding-top: 0px;
}

.email {
    padding-top: 0px;
}

.message {
    padding-top: 20px;
}

.serenity {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

iframe {
    border-style: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 10px;
}

.center-frame {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 80px;
}

.cafe-fraise-text {
    width: 960px;
    margin-top: 40px;
}

.center-text {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.section-three-column {
    display: flex;
    flex-direction: column;
    width: 960px;
}

.edit-text {
    margin-top: 30px;
}

.sustainability-text {
    width: 900px;
}


.section-three {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.image {
    width: 400px;
    background-position: contain;
}

.center-pic {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.text-div {
    width: 430px;
    text-align: left;
    padding-left: 15px;
    padding-top: 0px;
}

.frame-one {
    width: 400px;
    height: 280px;
}

.frame-two {
    width: 400px;
    height: 320px;
}

.cafe-fraise-text {
    width: 400px;
    justify-content: center;
}

.section-three-column {
    width: 400px;
}

.iframe-serenity {
    margin: auto;
}

.text-serenity {
    width: 350px;
}

.serenity {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.serenity-text {
    margin-left: 20px;
}

.section-three-serenity {
    display: flex;
    flex-direction: column;
}

.image-sustainability {
    width: 380px;
    margin: auto;
}

.section-three-sustainability {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.sustainability-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sustainability-text-div {
    width: 360px;
}

.square-row {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 0;
}

.square {
    padding-left: 0;
    padding-right: 0;
    width: 400px;
    height: 400px;

}

.squares {
    display: flex;
    flex-direction: column;
    margin-left: 0px;
    gap: 30px;

}

.square-text {
    margin: 0;
    padding: 0;
    gap: 0;
}

.square-mod-two {
    margin-left: -5px;
}

.square-mod-four {
    margin-left: -9px;
}

.square-mod-three {
    margin-left: 17px;
}

.contact-form {
    background-color: white;
    width: 400px;
    height: 435px;
    border-radius: 25px;
    margin-top: 90px;
    margin-bottom: 95px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 0px;
    border-style: solid;
    border-color: black;
    border-width: 0.5px;
}

.center-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.contact-text {
    font-family: "Prata", serif;
    font-size: 28px;
    margin-left: 0px;
    margin-bottom: 5px;
    margin-top: 10px;
    padding-left: 25px;
    padding-top: 25px;
    color: black;
    padding-bottom: 0px;
}

.rectangle-form {
    box-sizing: border-box;
    background-color: whitesmoke;
    width: 150px;
    height: 20px;
    border-style: solid;
    border-radius: 3px;
    border-color: black;
    border-width: 0.5px;
    font-family: "Noto Sans Symbols", sans-serif;
    font-weight: 100;
    font-size: 20px;
    padding: 12px;
    margin-left: 20px;
}

.rectangle-form-two {
    box-sizing: border-box;
    background-color: whitesmoke;
    width: 352px;
    height: 130px;
    border-color: black;
    border-style: solid;
    border-radius: 2px;
    border-width: 0.5px;
    font-family: "Noto Sans Symbols", sans-serif;
    font-weight: 100;
    font-size: 20px;
    padding: 12px;
    margin-top: 5px;
}

.name-email-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    margin-top: 0px;
    font-family: "Prata", serif;
    border-width: 0.5px;
    border-radius: 2px;
    margin-left: -19px;
}

.name {
    margin-left: 20px;
}

.email {
    margin-left: 20px;
}

@media (min-width:600px) {
    .image-sustainability {
        width: 500px;
        margin: auto;
        background-position: contain;
    }

    .sustainability-text-div {
        width: 550px;
    }

}

@media (min-width:700px) {
    .section-three-serenity {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .iframe-serenity {
        margin: auto;
    }
    
    .text-serenity {
        width: 350px;
    }
    
    .serenity {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    
    .serenity-text {
        margin-left: 20px;
        width: fit-content;
    }

}

@media (min-width:900px) {
    .section-three-sustainability {
        display: flex;
        flex-direction: row;
    }

    .sustainability-column {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}

@media (min-width:1000px) {
    .frame-one {
        width: 900px;
        height: 629px;
    }
    
    .frame-two {
        width: 900px;
        height: 670px;
    }
    
    .cafe-fraise-text {
        width: 900px;
        justify-content: center;
    }
    
    .section-three-column {
        width: 900px;
    }
    
    .section-three {
        display: flex;
        flex-direction: row;
        gap: 60px;
        justify-content: center;
        margin-top: 80px;
        margin-bottom: 60px;
    }

    .image-senior-pic {
        width: 429px;
        height: 329px;
        background-image: url('images/senior-pic.jpg');
        background-size: contain;
        border-radius: 50px;
    }

    .text-div {
        width: 500px;
        line-height: 30px;
        margin-top: -10px;
        gap: 23px;
        text-align: left;
        padding-left: 15px;
        padding-top: 0px;
    }

    .section-three-text {
        font-family: "Noto Sans Symbols", sans-serif;
        font-size: 15px;
        font-weight: 200;

    }

    .square {
        width: 420px;
        height: 420px;
    }
    
    .square-mod {
        margin-left: 25px;
    }
    
    .square-mod-two {
        margin-left: 35px;
    }

    .square-mod-three {
        margin-left: 0px;
    }

    .square-mod-four {
        margin-left: 0px;
    }

    .square-row {
        display: flex;
        flex-direction: row;
        gap: 170px;
        justify-content: center;
    }
    
    .squares {
        display: flex;
        flex-direction: column;
        gap: 65px;
        justify-content: center;
        margin-top: 85px;
        margin-bottom: 90px;
        margin-right: 100px;
        margin-left: -22px;
    }
    
    .square-text {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        color: black;
    
    }

}
  

    @media (min-width:1000px) {
    .text-serenity {
        width: 475px;
    }

    .frame-one {
        width: 600px;
        height: 380px;
    }
    
    .frame-two {
        width: 600px;
        height: 320px;
    }
    
    .cafe-fraise-text {
        width: 600px;
        justify-content: center;
    }
    
    .section-three-column {
        width: 600px;
    }

    .section-three {
        display: flex;
        flex-direction: row;
    }

    .image-sustainability {
        width: 429px;
        height: 329px;
        background-position: contain;
    }

    .sustainability-button {
        box-sizing: border-box;
        height: 40px;
        padding-bottom: 10px;
        padding-top: 7px;
    }

    .text-div {
        width: 420px;
        line-height: 22px;
        font-size: 15px;
        margin-top: -10px;
    }

    .contact-form {
        background-color: white;
        width: 950px;
        height: 670px;
        border-radius: 25px;
        margin-top: 90px;
        margin-bottom: 95px;
        display: flex;
        flex-direction: column;
        gap: 25px;
        padding-bottom: 0px;
        border-style: solid;
        border-color: black;
        border-width: 0.5px;
    }
    
    .center-form {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    
    .contact-text {
        font-family: "Prata", serif;
        font-size: 46px;
        margin-left: 20px;
        margin-bottom: 5px;
        margin-top: 10px;
        padding-left: 25px;
        padding-top: 25px;
        color: black;
        padding-bottom: 0px;
    }
    
    .rectangle-form {
        box-sizing: border-box;
        background-color: rgb(255, 255, 255);
        width: 369px;
        height: 45px;
        border-style: solid;
        border-radius: 3px;
        border-color: black;
        border-width: 0.5px;
        font-family: "Noto Sans Symbols", sans-serif;
        font-weight: 100;
        font-size: 20px;
        padding: 12px;
    }
    
    .rectangle-form-two {
        box-sizing: border-box;
        background-color: rgb(255, 255, 255);
        width: 848px;
        height: 265px;
        border-color: black;
        border-style: solid;
        border-radius: 2px;
        border-width: 0.5px;
        font-family: "Noto Sans Symbols", sans-serif;
        font-weight: 100;
        font-size: 20px;
        padding: 12px;
        margin-top: 5px;
    }
    
    .name-email-div {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 90px;
        margin-top: 0px;
        font-family: "Prata", serif;
        border-width: 0.5px;
        border-radius: 2px;
    }

    

}

.header {
        font-size: 40px;
        padding-top: 30px;          
}

@media (min-width:1200px) {
    .header {
        font-size: 72px;
        margin-top: 2.5px;

    }

}

